@charset "UTF-8";

* {
    font-family: "noto-sans-cjk-jp", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #707070 !important;
}

main {
    color: #1F1E1E !important;
}

a {
    text-decoration: none !important;
    text-decoration-line: none !important;
    color: #1F1E1E !important;
    transition: .3s;
}

a:hover {
    transform: translateY(-4px);
}

p {
    margin-bottom: 0 !important;
}

img {
    max-width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.text-left {
    text-align: left;
}

.fw-bold {
    font-weight: bold;
}

.fs-14 {
    font-size: 14px;
}

.fs-15-sp {
    @media(max-width: 760px) {
        font-size: 15px;
    }
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;

    @media(max-width: 760px) {
        font-size: 17px;
    }
}

.fs-36 {
    font-size: 36px;

    @media(max-width: 760px) {
        font-size: 19px;
    }
}

.txt_gray {
    color: #818181;
}

.txt_darkgray {
    color: #707070 !important;
}

.txt_white {
    color: #ffffff;
}

.bg-gray {
    background-color: #F6F4F4;
}

.notoserif {
    font-family: 'Noto Serif JP';
}

.inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: 1100px) {
        padding: 0 20px;
    }
}

.md_inner {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: 760px) {
        margin: 0 20px;
    }
}

.sp {
    @media(min-width: 769px) {
        display: none;
    }
}

.pc {
    @media(max-width: 768px) {
        display: none;
    }
}

// 画像アニメーション
.fadeUp.on {
    animation-name: fadeUpAnime;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =====================
          MENU
===================== */

#cocktail_menu {
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    background-color: #F1F0E9;

    @media(max-width: 1100px) {
        padding: 40px 20px;
    }

    img {
        box-shadow: none;
    }

    .menu_ttl {
        font-size: clamp(29px, 3.55vw, 60px);
    }

    .menu_sub_ttl {
        font-size: 28px;

        @media(max-width: 767px) {
            font-size: 20px;
        }
    }

    .menu_inner {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 31px;
        width: 100%;
        max-width: 1100px;
        margin: 55px auto 0;
        padding: 55px 50px;
        position: relative;

        @media(max-width: 767px) {
            margin: 45px auto 0;
            padding: 35px 25px;
        }
    }

    /*スクロールダウン*/
    .scrolldown1 {
        /*描画位置※位置は適宜調整してください*/
        position: absolute;
        left: 50%;
        top: -6%;
        /*全体の高さ*/
        height: 100px;

        @media(max-width: 767px) {
            height: 70px;
        }
    }

    /* 線の描写 */
    .scrolldown1::after {
        content: "";
        /*描画位置*/
        position: absolute;
        top: 0;
        /*線の形状*/
        width: 1px;
        height: 70px;
        background: #707070;
        /*線の動き1.4秒かけて動く。永遠にループ*/
        animation: pathmove 1.4s ease-in-out infinite;
        opacity: 0;

        @media(max-width: 767px) {
            height: 50px;
            animation: pathmove_sp 1.4s ease-in-out infinite;
        }
    }

    /*高さ・位置・透過が変化して線が上から下に動く*/
    @keyframes pathmove {
        0% {
            height: 0;
            top: 0;
            opacity: 0;
        }

        30% {
            height: 50px;
            opacity: 1;
        }

        100% {
            height: 0;
            top: 100px;
            opacity: 0;
        }
    }

    @keyframes pathmove_sp {
        0% {
            height: 0;
            top: 0;
            opacity: 0;
        }

        30% {
            height: 35px;
            opacity: 1;

            @media(max-width: 767px) {
                height: 10px;
            }
        }

        100% {
            height: 0;
            top: 70px;
            opacity: 0;
        }
    }

    .d-flex {
        justify-content: space-around;
        margin-top: 20px;

        @media(max-width: 767px) {
            justify-content: flex-start;
            margin-top: 10px;
        }
    }

    .cocktail_inner {
        width: 30%;

        @media(max-width: 767px) {
            width: 45%;
            margin-right: 5%;
        }
    }

    .menu_top_txt {
        font-size: 29px;
        margin-bottom: 50px;
        border-bottom: 1px solid #1F1E1E;
        display: inline-block;

        @media(max-width: 1100px) {
            font-size: 19px;
            margin-bottom: 20px;
        }
    }

    .cocktail_wrap {
        display: flex;
        flex-basis: 30%;
        padding: 20px;
        border-radius: 20px;

        @media(max-width: 767px) {
            padding: 10px 0;
        }
    }

    .cocktail_wrap:hover {
        transition: .3s;
        transform: translateY(-4px);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    .cocktail_txt {
        font-size: 20px;

        @media(max-width: 767px) {
            font-size: 16px
        }
    }

    .small {
        @media(max-width: 767px) {
            font-size: 11px
        }
    }

    .cocktail_img {
        width: 59px;

        @media(max-width: 767px) {
            width: 23%;
        }
    }

    .cocktail_img.mojito {
        width: 85px;

        @media(max-width: 767px) {
            width: 33%;
        }
    }

    .cocktail_img.margatita {
        width: 80px;

        @media(max-width: 767px) {
            width: 31%;
        }
    }

    .cocktail_img.blueLagoon {
        width: 70px;

        @media(max-width: 767px) {
            width: 27%;
        }
    }

    .cocktail_img.kirRoyale {
        width: 41px;

        @media(max-width: 767px) {
            width: 16%;
        }
    }

    .cocktail_img.russianSpringPunch {
        width: 67px;

        @media(max-width: 767px) {
            width: 26%;
        }
    }
}

/* =====================
          HEAD
===================== */

header {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
    z-index: 999;

    .inner {
        padding: 20px;

        @media(max-width: 760px) {
            padding: 3px 20px;
        }
    }

    .fs-18 {
        @media(max-width: 760px) {
            font-size: 15px;
        }
    }

    // SP用ハンバーガーメニュー
    /* チェックボックスは非表示に */
    .drawer-hidden {
        display: none;
    }

    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
        display: flex;
        height: 45px;
        width: 45px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        /* 重なり順を一番上に */
        cursor: pointer;
    }

    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #1F1E1E;
        transition: 0.5s;
        position: absolute;
    }

    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
        bottom: 8px;
    }

    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
        top: 8px;
    }

    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked~.drawer-open span {
        background: rgba(255, 255, 255, 0);
    }

    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked~.drawer-open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #drawer-check:checked~.drawer-open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューのデザイン*/
    .drawer-content {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 51px;
        left: 100%;
        z-index: 99;
        transition: .5s;
        padding: 40px 20px;
    }

    .drawer-content.mojito {
        background: #90AC98;
    }

    .drawer-content.pinaColada {
        background: #FCEAB0;
    }

    .drawer-content.espressoMartini {
        background: #BBBBBB;
    }

    .drawer-content.margatita {
        background: #AAB283;
    }

    .drawer-content.tequlaSunrise {
        background: #1E1038;
    }

    .drawer-content.russianSpringPunch {
        background: #7E1377;
    }

    .drawer-content.blueLagoon {
        background: #1b9bc2;
    }

    .drawer-content.KirRoyale {
        background: #891e56;
    }

    .drawer-content.bloodyMary {
        background: #dc3545;
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked~.drawer-content {
        right: 0;
        left: auto;
    }
}

/* =====================
          FV
===================== */
#fv {
    padding-top: 67px;
    position: relative;

    @media(max-width: 760px) {
        padding-top: 51px;
    }

    animation-name: blurAnime;
    animation-duration: 2s;
    animation-fill-mode: forwards;

    @keyframes blurAnime {
        from {
            filter: blur(10px);
            transform: scale(1.02);
        }

        to {
            filter: blur(0);
            transform: scale(1);
        }
    }

    .fv_wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    h1 {
        font-size: 130px;
        font-weight: 700;
        font-style: italic;

        @media(max-width: 1000px) {
            font-size: 80px;
        }

        @media(max-width: 767px) {
            font-size: 64px;
        }
    }

    p {
        font-size: 25px;
        font-weight: 700;
        white-space: nowrap;

        @media(max-width: 767px) {
            font-size: 17px;
        }
    }

    .cocktail_img {
        position: absolute;
        bottom: 5%;
        box-shadow: none;
        height: 32%;

        @media(max-width: 767px) {
            height: 29%;
        }
    }

    .fadeRight {
        // animation-name: fadeRightAnime_fv;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        opacity: 0;

        @media(min-width: 767px) {
            animation-name: fadeRightAnime_fv;
        }

        @media(max-width: 767px) {
            animation-name: fadeRightAnime_fv_sp;
        }
    }

    @keyframes fadeRightAnime_fv {
        from {
            opacity: 0;
            left: 100%;
        }

        to {
            opacity: 1;
            left: 15%;
        }
    }

    @keyframes fadeRightAnime_fv_sp {
        from {
            opacity: 0;
            left: 100%;
        }

        to {
            opacity: 1;
            left: 5%;
        }
    }
}


/* =====================
          WORKS
===================== */
#works {

    .bg-gray {
        padding-block: 70px;
    }

    .works_wrap {
        margin-bottom: 90px;
    }

    .works_item {
        width: 30%;

        @media(max-width: 767px) {
            width: 40%;
            overflow-x: hidden;
        }
    }

    .design_wrap {}

    .design_item {
        width: 22%;

        @media(max-width: 767px) {
            width: 40%;
        }
    }

    .more {
        color: #ffffff;
        text-align: center;
        background-color: #707070;
        width: 277px;
        max-width: 100%;
        margin: 0 auto;
        padding: 15px;
    }
}

/* =====================
          SKILL
===================== */
#skill {
    padding-block: 70px;

    .skill_wrap {
        margin-bottom: 90px;
    }

    .skill_item {
        @media(min-width: 768px) {
            width: 30%;
        }

        @media(max-width: 768px) {
            margin-bottom: 2.5rem;
        }

        img {
            width: 110px;
            box-shadow: none;
        }
    }

    hr {
        height: 2px;
        background-color: #707070;
        border: none;
    }
}

/* =====================
          PROFILE
===================== */
#profile {

    .bg-gray {
        padding-block: 70px;
    }

    .profile_wrap {
        margin-top: 40px;

        .name {
            text-align: center;
        }

        img {
            border-radius: 50%;
            width: 20%;
            margin-right: 8%;

            @media(max-width: 767px) {
                width: 30%;
            }
        }
    }
}

/* =====================
          CONTACT
===================== */
#contact {
    .inner {
        padding-block: 70px 150px;
    }

    img {
        box-shadow: none;
    }

    .contact_wrap {
        margin-bottom: 90px;

        img {
            width: 30px;
        }
    }

    .contact_messege_wrap {
        position: relative;

        .contact_cocktail_img {
            width: 16%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @media(max-width: 767px) {
                width: 25%;
            }
        }

        .contact_cocktail_img.fadeRight {
            animation-name: fadeRightAnime;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-delay: 1s;
            opacity: 0;

            @media(max-width: 767px) {
                animation-name: fadeRightAnime_sp;
            }
        }

        @keyframes fadeRightAnime {
            from {
                opacity: 0;
                left: 100%;
            }

            to {
                opacity: 1;
                left: 15%;
            }
        }

        @keyframes fadeRightAnime_sp {
            from {
                opacity: 0;
                left: 100%;
            }

            to {
                opacity: 1;
                left: 7%;
            }
        }

        .contact_messege_img {
            width: 50%;

            @media(max-width: 767px) {
                width: 65%;
            }
        }

        .contact_messege_img.fadeUp {
            animation-name: fadeUpAnime;
            animation-duration: 0.5s;
            animation-fill-mode: forwards;
            animation-delay: 1.5s;
            opacity: 0;
        }

        @keyframes fadeUpAnime {
            from {
                opacity: 0;
                transform: translateY(100px);
            }

            to {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}


/* =====================
          FOOTER
===================== */

footer {
    background-color: #3A3A3A;
    padding: 16px;

    @media(max-width: 767px) {
        font-size: 13px;
        padding: 15px;
    }
}

footer#mojito {
    background-color: #90AC98;
}

footer#pinaColada {
    background-color: #FCEAB0;
}

footer#espressoMartini {
    background-color: #BBBBBB;
}

footer#margatita {
    background-color: #AAB283;
}

footer#tequlaSunrise {
    background-color: #1E1038;
}

footer#russianSpringPunch {
    background-color: #7e1377;
}

footer#blueLagoon {
    background-color: #1b9bc2;
}

footer#kirRoyale {
    background-color: #891e56;
}

footer#bloodyMary {
    background-color: #dc3545;
}