@charset "UTF-8";

* {
    font-family: "noto-sans-cjk-jp", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 16px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

body {
    color: #707070 !important;
}

main {
    color: #1F1E1E !important;
}

a {
    text-decoration: none !important;
    text-decoration-line: none !important;
    color: #1F1E1E !important;
    transition: .3s;
}

a:hover {
    transform: translateY(-4px);
}

p {
    margin-bottom: 0 !important;
}

img {
    max-width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
}

.text-left {
    text-align: left;
}

.fw-bold {
    font-weight: bold;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-36 {
    font-size: 36px;
}

.txt_gray {
    color: #818181;
}

.txt_darkgray {
    color: #707070 !important;
}

.txt_white {
    color: #ffffff;
}

.bg-gray {
    background-color: #F6F4F4;
}

.notoserif {
    font-family: 'Noto Serif JP';
}

.inner {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: 1100px) {
        padding: 0 20px;
    }
}

.md_inner {
    max-width: 760px;
    width: 100%;
    margin: 0 auto;

    @media(max-width: 760px) {
        margin: 0 20px;
    }
}

.sp {
    @media(min-width: 769px) {
        display: none;
    }
}

.pc {
    @media(max-width: 768px) {
        display: none;
    }
}

/* =====================
          MENU
===================== */

#cocktail_menu {
    margin: 0 auto;
    padding: 70px 0;
    text-align: center;
    background-color: #F1F0E9;

    @media(max-width: 1100px) {
        padding: 40px 20px;
    }

    .menu_ttl {
        font-size: clamp(29px, 3.55vw, 60px);
    }

    .menu_sub_ttl {
        font-size: 28px;

        @media(max-width: 767px) {
            font-size: 20px;
        }
    }

    .menu_inner {
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        border-radius: 31px;
        width: 100%;
        max-width: 1100px;
        margin: 55px auto 0;
        padding: 55px 50px;
        position: relative;

        @media(max-width: 767px) {
            margin: 45px auto 0;
            padding: 35px 25px;
        }
    }

    /*スクロールダウン*/
    .scrolldown1 {
        /*描画位置※位置は適宜調整してください*/
        position: absolute;
        left: 50%;
        top: -6%;
        /*全体の高さ*/
        height: 100px;

        @media(max-width: 767px) {
            height: 70px;
        }
    }

    /* 線の描写 */
    .scrolldown1::after {
        content: "";
        /*描画位置*/
        position: absolute;
        top: 0;
        /*線の形状*/
        width: 1px;
        height: 70px;
        background: #707070;
        /*線の動き1.4秒かけて動く。永遠にループ*/
        animation: pathmove 1.4s ease-in-out infinite;
        opacity: 0;

        @media(max-width: 767px) {
            height: 50px;
            animation: pathmove_sp 1.4s ease-in-out infinite;
        }
    }

    /*高さ・位置・透過が変化して線が上から下に動く*/
    @keyframes pathmove {
        0% {
            height: 0;
            top: 0;
            opacity: 0;
        }

        30% {
            height: 50px;
            opacity: 1;
        }

        100% {
            height: 0;
            top: 100px;
            opacity: 0;
        }
    }

    @keyframes pathmove_sp {
        0% {
            height: 0;
            top: 0;
            opacity: 0;
        }

        30% {
            height: 35px;
            opacity: 1;

            @media(max-width: 767px) {
                height: 10px;
            }
        }

        100% {
            height: 0;
            top: 70px;
            opacity: 0;
        }
    }

    .d-flex {
        justify-content: space-around;

        @media(max-width: 767px) {
            justify-content: flex-start;
        }
    }

    .cocktail_inner {
        width: 30%;

        @media(max-width: 767px) {
            width: 45%;
            margin-right: 5%;
        }
    }

    .menu_top_txt {
        font-size: 29px;
        margin-bottom: 50px;
        border-bottom: 1px solid #1F1E1E;
        display: inline-block;

        @media(max-width: 1100px) {
            font-size: 19px;
            margin-bottom: 20px;
        }
    }

    .cocktail_wrap {
        display: flex;
        flex-basis: 30%;
        padding: 20px;
        border-radius: 20px;

        @media(max-width: 767px) {
            padding: 10px 0;
        }
    }

    .cocktail_wrap:hover {
        transition: .3s;
        transform: translateY(-4px);
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }

    .cocktail_txt {
        font-size: 20px;

        @media(max-width: 767px) {
            font-size: 16px
        }
    }

    .small {
        @media(max-width: 767px) {
            font-size: 11px
        }
    }

    .cocktail_img {
        width: 59px;

        @media(max-width: 767px) {
            width: 23%;
        }
    }

    .cocktail_img.mojito {
        width: 85px;

        @media(max-width: 767px) {
            width: 33%;
        }
    }

    .cocktail_img.margatita {
        width: 80px;

        @media(max-width: 767px) {
            width: 31%;
        }
    }

    .cocktail_img.blueLagoon {
        width: 70px;

        @media(max-width: 767px) {
            width: 27%;
        }
    }

    .cocktail_img.kirRoyale {
        width: 41px;

        @media(max-width: 767px) {
            width: 16%;
        }
    }

    .cocktail_img.russianSpringPunch {
        width: 67px;

        @media(max-width: 767px) {
            width: 26%;
        }
    }
}

/* =====================
          HEAD
===================== */

header {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);

    .inner {
        padding: 20px;

        @media(max-width: 760px) {
            padding: 10px 20px;
        }
    }

    // SP用ハンバーガーメニュー
    /* チェックボックスは非表示に */
    .drawer-hidden {
        display: none;
    }

    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
        display: flex;
        height: 45px;
        width: 45px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;
        /* 重なり順を一番上に */
        cursor: pointer;
    }

    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #1F1E1E;
        transition: 0.5s;
        position: absolute;
    }

    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
        bottom: 8px;
    }

    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
        top: 8px;
    }

    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked~.drawer-open span {
        background: rgba(255, 255, 255, 0);
    }

    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked~.drawer-open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }

    #drawer-check:checked~.drawer-open span::after {
        top: 0;
        transform: rotate(-45deg);
    }

    /* メニューのデザイン*/
    .drawer-content {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 65px;
        left: 100%;
        z-index: 99;
        background: #90AC98;
        transition: .5s;
        padding: 40px 20px;
    }

    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked~.drawer-content {
        right: 0;
        left: auto;
    }
}

/* =====================
          FV
===================== */
#fv {
    padding-top: 67px;
    position: relative;

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 130px;
        font-weight: 700;

        @media(max-width: 767px) {
            font-size: 64px;
        }
    }

    p {
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -65%);
        font-size: 25px;
        font-weight: 700;
        white-space: nowrap;

        @media(max-width: 767px) {
            font-size: 17px;
        }
    }

    .cocktail_img {
        position: absolute;
        bottom: 5%;
        left: 5%;
        box-shadow: none;
        width: 12%;

        @media(max-width: 767px) {
            width: 25%;
        }
    }
}


/* =====================
          WORKS
===================== */
#works {

    .bg-gray {
        padding-block: 70px;
    }

    .works_item {
        width: 30%;

        @media(max-width: 767px) {
            width: 40%;
            overflow-x: hidden;
        }
    }

    .design_wrap {
        align-items: center;
    }

    .design_item {
        width: 22%;

        @media(max-width: 767px) {
            width: 40%;
        }
    }
}

/* =====================
          SKILL
===================== */
#skill {
    padding-block: 70px;

    .skill_wrap {
        margin-bottom: 90px;
    }

    .skill_item {
        @media(min-width: 768px) {
            width: 30%;
        }

        @media(max-width: 768px) {
            margin-bottom: 2.5rem;
        }

        img {
            width: 110px;
            box-shadow: none;
        }
    }

    hr {
        height: 2px;
        background-color: #707070;
        border: none;
    }
}

/* =====================
          FOOTER
===================== */

footer {
    background-color: #3A3A3A;
    padding: 20px;

    @media(max-width: 767px) {
        font-size: 13px;
        padding: 15px;
    }
}